@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e9beef;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: #e9beef;
  color: #3b0150;
}

#centernavsection {
  color: #3b0150;
  width: 470px;
  height: 70px;
  margin-left: 40px;
  border-radius: 20px;
}

#category-dropdown {
  background-color: #ecd5f3;
  color: #3b0150;
}

#listitem:hover {
  background-color: #7f0fff;
  color: rgb(255, 217, 0);
}

#home:hover{
  text-underline-position: below;
  text-decoration: underline;
}
#categorymenu:hover {
  text-underline-position: below;
  text-decoration: underline;
}
#newarrivals:hover {
  text-underline-position: below;
  text-decoration: underline;
}
#aboutus:hover {
  text-underline-position: below;
  text-decoration: underline;
}
#becomeaseller:hover {
  text-underline-position: below;
  text-decoration: underline;
}
#account:hover {
  text-underline-position: below;
  text-decoration: underline;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3b0150 !important;
  font-weight: bold;
}

#h2{
  background-color: #2b003b;
  color: #ecd5f3;
}

#categoryimage{
  border: 3px solid #3b0150;
  background-color: #e9beef;
}

#categoryimage:hover {
  border: 4px solid #7f0fff;
  background-color: #ecd5f3;
  transition: ease-in-out 0.3s;
  transform: scale(2.05);
}

#categorylink{
  background-color: #3b0150;
  color: #ecd5f3;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

#categorylink:hover {
  background-color: #f4c542;
  color: #3b0150;
  transition: background-color 0.3s ease;
}

#productname{
  color: #3b0150;
}


#dealimage{
  border: 3px solid #3b0150;
  background-color: #e9beef;
}


#trustsection{
  border: #2b003b solid 3px;
  color: #2b003b;
  background-color: #2b003b;
}

#benefits{
  
  color: #2b003b ;
  background-color: #f4d6f8;
}

#newsletter{
  border: #2b003b solid 3px;
  color: #2b003b;
  background-color: #f7eafc;
}

#newsletter-heading{
  color: #2b003b;
}

#subscribe-button{
  background-color: #3b0150;
  color: #ecd5f3;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

#subscribe-button:hover {
  background-color: #f4c542;
  color: #3b0150;
  transition: background-color 0.3s ease;
}